<div style="background-color: rgb(187, 197, 194); min-height: 100vh; padding: 20px;">
  <h1><%= @content_page.title %></h1>
  <p><%= @content_page.body %></p>

  <%= link_to "Back to Lesson Page", lesson_path(@content_page.lesson_id) %>
  <h2>There will be content here</h2>
</div>