<h1><%= @content_page.title %></h1>
<p><%= @content_page.body %></p>  <!-- Assume you have a body field in your ContentPage model -->

<%= link_to "Back to Lesson Page", lesson_path(@content_page.lesson_id) %> 